<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- リセットcss -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>My Task</title>
</head>
<body>
    <header class="header">
        <h1 class="app-title"><a href="/">My Task</a></h1>
        <div class="member-menu">
            <a href="" class="menu-link">タスクを追加する</a>
            <a href="" class="menu-link">ログアウト</a>
        </div>
    </header>
    <!-- <h1>{{name}}さん、こんにちは！</h1> -->
</body>
</html>